mixin article(title)
  article
    .article-wrapper
      h1= title
      if block
        block
      else
        p No content

mixin section(header)
  section
    h1= header
    if block
      block
    else
      p No content

html
  head
    title= title
  body
    header
      h1= title
    each racket in rackets
      img(src=racket.image)
    +article("Hello")
      p Some content
    +section("Description")
    footer
      p &copy; 2024 My Tennis Shop