// Generate a `nav` elements with the `header` provided and an `ul` containing all the links provided
mixin nav(header, links)
    h1= header
    nav
        ul
            each link in links
                li: a(href=link.href)= link.title

// Generate a `section` with the `header` provided and an optional `block`
mixin section(header)
    section
        h2= header
        if block
            block

// Generate an `item` with the `title` encapsulated in `strong` and `description`
mixin strongitem(title, description)
    strong= title + ' '
    span= description

// Generate an `aside` with the `header` provided and an `ul` containing all the `items`
mixin aside(header, items)
    aside
        h3= header
        ul
            each item in items
                li: +strongitem(item.title, item.description)

// Generate a `table` with the `headers` and `data`
mixin table(headers, data)
    +section("Popular skins")
        table
            tr
                each header in headers
                    th= header
            each item in data
                tr
                    each val, key in item
                        if key === "image"
                            td  
                                figure
                                    img(src= val)
                                    figcaption= item.name
                        else
                            td= val

// Generate an `article` with the `title`, `description`, and `link`
mixin article(title, description, link)
    article
        h3= title
        p= description
        if link
            a(href=link.href)= link.label